/artifacts/*.wasm
/artifacts/*.wat
/artifacts/metrics/*.json
/android-host/.gradle/
/android-host/build/
/android-host/local.properties
/android-host/**/build/
/android-host/.cxx/
/android-host/**/.cxx/
/ios-host/.build/
/ios-host/WasmMobile.xcodeproj/xcuserdata/
/ios-host/DerivedData/
/shared-core/target/
/target/
/*.xcresult
/.DS_Store
